#root {
  margin:1px;
  padding: 2rem;
  text-align: center;
  position: fixed;
}
input{
  background-color: gray;
  text-decoration-color: black;
}
#date{
  text-decoration-color: black;
  background-color: gray;
}